<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-grid.min.css' />
    <link rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.min.css' />
    <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="jumbotron header">
      <a href="http://axacontrol.herokuapp.com"><h2 id="h2-header" class="text-center text-header" ><i class="fa fa-wrench" aria-hidden="true"></i> AXA Control</h2></a>
    </header>
      <div class="container-fluid">
        <h1><%=message %></h1>
        <h2><%=error.status %></h2>
        <pre> <%=error.stack %> </pre>
      </div>
  </body>
</html>