<% include Shared/layout %>

<div class="row">
  <div class="col-lg-10" style="margin: 8px 15%">
      <div class="options">
        <h3>Pensaba</h3>
        <p>Lorem ipsum</p>
      </div>
      <div class="options2">
        <h3>Poner</h3>
        <p>Lorem ipsum</p>
      </div>
      <div class="options">
        <h3>aca el</h3>
        <p>Lorem ipsum</p>
      </div>
      <div class="options2">
        <h3>listado</h3>
        <p>Lorem ipsum</p>
      </div>
      <div class="options">
        <h3>de opciones</h3>
        <p>Lorem ipsum</p>
      </div>
      <div class="options2">
        <h3>para el usuario</h3>
        <p>Lorem ipsum</p>
      </div>
  </div>
  <div class="col-lg-10" style="margin: 8px 15%">
      <div class="options">
        <h3>Pensaba</h3>
        <p>Lorem ipsum</p>
      </div>
      <div class="options2">
        <h3>Poner</h3>
        <p>Lorem ipsum</p>
      </div>
      <div class="options">
        <h3>aca el</h3>
        <p>Lorem ipsum</p>
      </div>
      <div class="options2">
        <h3>listado</h3>
        <p>Lorem ipsum</p>
      </div>
      <div class="options">
        <h3>de opciones</h3>
        <p>Lorem ipsum</p>
      </div>
      <div class="options2">
        <h3>para el usuario</h3>
        <p>Lorem ipsum</p>
      </div>
  </div> 
</div>

<% include Shared/footer %>