.header{
  background: url("../images/header2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.80;
  color: #a6a6a6;
  font-family: 'Athiti', sans-serif;
  padding-top: 5em;
  padding-bottom: 5em; 
}

.options2, .options{
  padding: 7% 15px;
  margin: 4px;
  color: #171717;
  border-radius: 2px;
  border: 2px solid #888888;
  float: left;
  width: 20em;
  height: 20em;
  max-width: 20em;
  max-height: 20em;
  }
.options:hover{
  background: linear-gradient(to right, rgba(31,117,255,1) 0%, rgba(117,255,175,1) 100%);
  box-shadow: 2px 4px 117px 1px rgba(0,0,0,0.59);
  color: #f3f3f3;
  transition: 0.4s;
}
.options2:hover{
  box-shadow: 2px 4px 117px 1px rgba(0,0,0,0.59);
  color: #f3f3f3;
  background: linear-gradient(to right, rgba(255,153,194,0.99) 0%, rgba(255,153,194,0.99) 7%, rgba(186,252,215,1) 97%, rgba(184,255,216,1) 100%);
  transition: 0.4s;
}
.options h3{
  text-align: center;
  font-weight: 100;
  font-size: 6em;
}
.options2 h3{
  text-align: center;
  font-weight: 100;
  font-size: 6em;
}

.text-header{
  border-bottom: solid 1.5px #bfbfbf; 
  font-size: 4em; 
  font-weight: 600;
}
.text-no-header{
  border-bottom: none; 
  font-size: 2em; 
  font-weight: 100;
}
.acortar{
  opacity: 0.99;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  position: fixed;
  z-index: 10;
  transition: 0.3s;
}
.p-index{
  font-size: 1.2em;
}
h1{
  color: rgb(32, 138, 230);
}
h2{
  color: rgb(27, 107, 177);
}
h3{
  color: rgb(47, 101, 120);
}
img{
  border-radius: 3px;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
footer{
  background: #383838;
  color: #f9f9f9;
  padding: 20px 10px;
}

.login-box{
  border-bottom: solid 1px #6c6c6c;
  padding: 15px 5px;
}

.login-box input{
  margin: 6px 10px;
}
.login-box button{
  margin: 4px 35%;
}