<% include ../Shared/layout %>

<div class="row">
  <div class="col-lg-10" style="margin: 8px 15%">
      <div class="options">
        <h3><i class="fa fa-user-circle" aria-hidden="true"></i></h3>
        <h4 style="text-align: center;">Pensaba</h4>
      </div>
      <div class="options2">
        <h3><i class="fa fa-address-book-o" aria-hidden="true"></i></h3>
        <h4 style="text-align: center;">Poner</h4>
      </div>
      <div class="options">
        <h3><i class="fa fa-car" aria-hidden="true"></i></h3>
        <h4 style="text-align: center;">aca el</h4>
      </div>
      <div class="options2">
        <h3><i class="fa fa-calendar" aria-hidden="true"></i></h3>
        <h4 style="text-align: center;">listado</h4>
      </div>
      <div class="options">
        <h3><i class="fa fa-wrench" aria-hidden="true"></i></h3>
        <h4 style="text-align: center;">de opciones</h4>
      </div>
      <div class="options2">
        <h3><i class="fa fa-user-o" aria-hidden="true"></i></h3>
        <h4 style="text-align: center;">Mi Perfil</h4>
      </div>
  </div>

</div>
  <div class="row" >
    <div class="col-lg-8 offset-lg-2">
      <button type="button" style="margin: 30px ;width: 90%" class="btn btn-outline-info btn-lg">Cerrar Sesion</button>
    </div>
  </div>

<% include ../Shared/footer %>